<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
<%- include('../includes/navigation.ejs') %>
<body>
    <div class="content-box">
        <% if(errorMessage.length > 0){%>
            <div class="flash-message error-message">
                <p class="message">
                    <i class="far fa-times-circle"></i> <%= errorMessage %>
                </p>
            </div>
        <%}%>
        <h1>Set New-Password</h1>
        <hr class="line">
        <form action="/new-password" method="POST" class="form" >
            <div class="new-password-box">
                <label for="email">New Password</label>
                <input
                    type="password"
                    name="newPassword"
                    id="new-password"
                    placeholder="enter new-password"
                    class="new-password"
                >
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="submit-button">Update Password</button>
        </form>
    </div>
<%- include('../includes/tail.ejs') %> 