<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/login-signup-form.css">
</head>
<%- include('../includes/navigation.ejs') %>
<body>
    <div class="content-box">
        <% if(errorMessage.length > 0){%>
            <div class="flash-message error-message">
                <p class="message">
                    <i class="far fa-times-circle"></i> <%= errorMessage %>
                </p>
            </div>
        <%}%>
        <div class="signup-form-content">
            <div class="image-box">
                <img src="https://images.unsplash.com/photo-1550353185-761a5da3ee96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="blueis image">
            </div>
            <div class="form-box">
                <div class="intro-box">
                    <h1>Signup here...</h1>
                    <hr class="line">
                    <p>Hello !, how are you? make sure you enter right details and welcom to the site.</p>
                </div>
                <form action="/signup" method="POST" class="login-signup-form" novalidate>
                    <div class="email-box <%= validationErrors.find(e=>e.param === 'email')?'Invalid':'' %>">
                        <label for="email"><i class="far fa-envelope"></i></label>
                        <div class="email-input-animation">
                            <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            class="email"
                            value="<%= oldInput.email %>"
                        >
                        <div class="email-line"></div>
                        </div>
                    </div>
                    <div class="password-box <%= validationErrors.find(e=>e.param === 'password')?'Invalid':'' %>">
                        <label for="password"><i class="fas fa-lock"></i></label>
                        <div class="password-input-box">
                            <div class="password-view-box">
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    class="password"
                                    placeholder="Password"
                                    value="<%= oldInput.password %>"
                                >
                                <div class="password-line"></div>
                            </div>
                            <i class="fas fa-eye view-password"></i>
                        </div>
                    </div>
                    <div class="confirm-password-box <%= validationErrors.find(e=>e.param === 'confirmPassword')?'Invalid':'' %>">
                        <label for="confirm-password"><i class="fas fa-lock"></i></label>
                        <div class="confirm-password-input-box">
                            <div class="confirm-password-view-box">
                                <input
                                    type="password"
                                    name="confirmPassword"
                                    id="confirm-password"
                                    class="confirm-password"
                                    placeholder="Confirm Password"
                                    value="<%= oldInput.confirmPassword %>"
                                >
                                <div class="confirm-password-line"></div>
                            </div>
                            <i class="fas fa-eye view-confirm-password"></i>
                        </div>
                    </div>
                    <div class="login-signup-button-box">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="submit-button-2">Sign - Up</button>
                        <a href="/login">I'm already a member</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('../includes/tail.ejs') %> 